<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="icon" href="/static/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar" id="userNavbar">
        <div class="container navbar-container">
            <a href="/my-account"><i class="fas fa-user"></i> 我的帳戶</a>
            <a href="/my-diary"><i class="fas fa-book"></i> 我的日記</a>
            <a href="/about-iaceve"><i class="fas fa-info-circle"></i> 關於IACEve</a>
            <button id="logoutBtn" style="display: none;"><i class="fas fa-sign-out-alt"></i> 登出</button>
        </div>
   </div>

    <div class="container">
        <header>
            <h1>{{ page_title }}</h1>
            <p>{{ welcome_message }}</p>
        </header>
        <main>
            <section class="counts">
                <div class="row">
                    <div class="count academic">
                        <h2>農業學者</h2>
                        <p id="academic">Loading...</p>
                    </div>
                    <div class="count expert">
                        <h2>農業老手</h2>
                        <p id="expert">Loading...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="count worker">
                        <h2>農業工作者</h2>
                        <p id="worker">Loading...</p>
                    </div>
                    <div class="count developer">
                        <h2>技術開發人員</h2>
                        <p id="developer">Loading...</p>
                    </div>
                </div>
                <div class="row">
                    <div class="count student">
                        <h2>學生</h2>
                        <p id="student">Loading...</p>
                    </div>
                    <div class="count others">
                        <h2>其他領域</h2>
                        <p id="others">Loading...</p>
                    </div>
                </div>
            </section>
            <section class="debate-selection">
                <label for="debate-topics" class="visually-hidden">選擇農業技術辯論題目</label>
                <select id="debate-topics" aria-label="選擇農業技術辯論題目" onchange="handleTopicChange()">
                    <option value="">選擇農業技術辯論題目</option>
                    <option value="data-analytics-in-agriculture">農業資料分析：數位科技如何引領農業革新？</option>
                    <option value="iot-in-agriculture">物聯網在智慧農業：連結土地與科技的未來</option>
                    <option value="automation-and-robotics">自動化與機器人技術：重塑農業生產的未來</option>
                    <option value="drone-usage-for-crop-monitoring">無人機在作物監測的應用：高空中的農業守望者</option>
                    <option value="smart-irrigation-systems">智慧灌溉系統：節水高效率的農業灌溉解決方案</option>
                    <option value="ai-in-pest-and-disease-detection">人工智慧在病蟲害檢測：提升預防與管理的智慧</option>
                    <option value="blockchain-for-food-traceability">區塊鏈技術實現食品追溯：從田間到餐桌的透明之旅</option>
                    <option value="vertical-and-urban-farming">垂直與城市農業：創新農業在都市中的實踐</option>
                    <option value="agri-tech-for-sustainable-farming">促進永續農業的關鍵農業技術：為未來種下希望</option>
                    <option value="challenges-in-implementing-smart-agriculture">實施智慧農業的挑戰：探索創新與永續性的平衡</option>
                </select>
            </section>            
        </main>
        <footer>
            <a href="/debate-form" class="action-btn debate-btn" style="display: none;">加入投票或辯論</a>
            <a href="/register-form" class="action-btn register-btn">註冊</a>
            <a href="/login-form" class="action-btn login-btn">登入</a>
        </footer>

        <button id="toggleChartBtn" style="display: none;">顯示/隱藏統計結果</button>
        <div class="container chart-container" id="dataChartContainer" style="display: none;">
            <h2>有趣的見解們</h2>
            <canvas id="myChart"></canvas> <!-- 示例: 使用Chart.js -->
        </div>
    </div>

    <!-- Data Chart Container -->
    

    <script src="/static/js/index.js"></script>
</body>
</html>
