<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入表單</title>
    <link rel="stylesheet" href="/static/css/resetpassword.css">
</head>
<body>
    <div class="resetpassword-container">
        <form id="resetpassword-form">
            <input type="hidden" id="token" name="token">
            <div class="form-group">
                <label for="new_password">新的密碼:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirmed_new_password">確認新的密碼:</label>
                <input type="password" id="confirmed_new_password" name="confirmed_new_password" required>
            </div>
            <button type="submit" class="submit-btn">確定並送出</button>
        </form>
        <div id="feedback" class="feedback"></div>
    </div>
    <script src="/static/js/resetpassword.js"></script>
</body>
</html>
